/* font-family 속성 - 글꼴 */

:root{
  /* font-size: 10px; */
  font-size: clamp(12px, 3vw, 24px);
  /* 위에 함수 알아보기 */
}

body {
  font-family: 'Pretendard Variable';
  font-family: 'SUIT', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

h1{
  font-weight: 500;
  font-size: 1.5em;
}

/* font-size 속성 */
/* 글자값이 없으면 상속값, 있으면 글자 크기를 따라감 - 행간(line-height) */
.size{
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.5;
  font-variant: small-caps;
  font-family: 'Pretendard Variable', sans-serif;
  font: 24px 'Pretendard Variable';
  /* font: bold italic small-caps 24px/1.5 'Pretendard Variable'; */
  /* weight,variant,style가 먼저와야하며 size와 family는 무조건 필수임 */
}

/* 단위 */
/* rem : html 기준 */














