
.member-service{
  background-color: yellow;
  text-transform: uppercase;
}

.item{
  text-decoration: none;
  color: inherit;
  /* inherit 라고 하면 부모의 것을 상속받음 */
}

/* 가상요소 선택자 */
.item.first::before{
  content: "";
}

.item::before{
  content: ":";
}














