/* @import '/src/common/mini-reset.css';

/* 내가 만든것 */
/* :root {
  --green-text-color: #22be61;
  --gray-text-color: #9b9a90;
  --font-size-title: 18px;
  --font-size-nomal: 14px;
  --font-size-right-small: 11px;
} */

/* h1 {
  margin-bottom: 50px;
} */

/* 알림 */
/* .notification {
  --area-font-title-size: var(--area-font-title-size);
  --area-font-size-nomal: var(--font-size-nomal);
  --area-font-size-right-small: var(--font-size-right-small);

  border-radius: 5px;
  border: 1px solid gray;
  padding: 20px;

  width: 332px;
  height: 84px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .notification-text-area {
    width: 244px;
    height: 43px;
    position: relative;
  }

  .notification-text-area .notification-time {
    font-size: var(--area-font-size-right-small);
    color: var(--green-text-color);
    position: absolute;
    right: 0;
    top: 0;
  }

  .notification-text-area .notification-subject {
    font-size: var(--area-font-title-size);
    color: var(--green-text-color);
    margin-bottom: 4px;
  }

  .notification-text-area .notification-content {
    font-size: var(--area-font-size-nomal);
    color: var(--gray-text-color);
  }
  
} */

/* 쌤이 만드시는 것 */
@import '/src/common/mini-reset.css';

:root {
  /* 색상 */
  --green: #22be61;
  --silver: #929b90;
  --brown: #e3a368;

  /* 여백 */
  --spacing-10: 0.625rem;
  --spacing-20: 1.25rem;
  --spacing-70: 4.375rem;

  /* 글자 크기 */
  --large: 1.125rem;
  --medium: 0.875rem;
  --small: 0.75rem;
}

body {
  margin: 50px;
}

h1 {
  margin-bottom: 50px;
}

/* 알림 컨테이너 */
/* 플렉스는 아직 배우지 않았습니다. */
/* 컴포넌트를 만들고 배치를 위해 만든 컨테이네어 갭을 주는 방향으로 컴포넌트 간 여백을 주셔야 합니다. */
.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  margin-bottom: 20px;
}

/* 알림 */
.notification {
  --border-color: var(--silver);
  --text-color: var(--silver);
  --base-spacing: var(--spacing-20);
  --large-spacing: var(--spacing-70);

  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background: no-repeat var(--base-spacing) 50%;
  padding: var(--base-spacing) var(--base-spacing) var(--base-spacing)
    var(--large-spacing);
  margin-top: var(--base-gap);

  .notification-subject {
    font-size: var(--large);
  }

  .notification-time {
    font-size: var(--small);
    position: absolute;
    top: var(--base-spacing);
    right: var(--base-spacing);
  }

  .notification-content {
    font-size: var(--medium);
    margin-top: var(--base-gap);
  }

  &.green {
    background-image: url(/src/assets/svg/pot.svg);
    .notification-subject,
    .notification-time {
      color: var(--green);
    }
  }

  &.brown {
    background-image: url(/src/assets/svg/rice.svg);
    .notification-subject,
    .notification-time {
      color: var(--brown);
    }
  }
}

.test {
  height: 72px;
  border: 1px solid gray;
  border-radius: 5px;

  padding: 16px 8px 16px 16px;

  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .test-title {
    color: #040404;
    font-size: 20px;
    font-family: Pretendard;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
    margin-bottom: 4px;
  }

  .test-text-sub {
    color: #6d7478;
    font-size: 12px;
    font-family: Pretendard;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.12px;
    word-wrap: break-word;
  }
}