@import "/src/ui/components/avatar/avatar.css";

/* 아바타 리스트 */
/* case01 - inline-block */
/* case02 - float */
/* case03 - flex */
/* case04 - grid */

/* inline-block */
.case-01{
  background: pink;
  margin: 20px;

  border: 2px solid red;
  border-radius: 4px;
  
  ul{
    width: 360px;
    background: gold;
    font-size: 0;
    /* 가상커서는 영역이 있어야함 */
    padding: 10px;
    margin: 0 auto;
  }

  li{
    background: green;
    display: inline-block;
    /* 인라인도 독립적인 객체(bfc)임! */
    font-size: 1rem;
    margin: 10px;
  }

}

/* float */
.case-02{
  background: pink;
  margin: 20px;

  border: 2px solid red;
  border-radius: 4px;
  
  ul{
    width: 360px;
    background: gold;
    padding: 10px;
    margin: 0 auto;
    display: flow-root;
  }

  li{
    background: green;
    margin: 10px;
    float: left;
    /* 독립적인 bfc 객체는 마진이 병합되지 않음 */
  }
  
}